.banner-principal-decorativo
  &-1
    top: 15%
    right: 77%
    width: 110px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate
  
  &-2
    top: 69%
    right: 67%
    width: 95px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

  &-3
    top: 20%
    right: 3%
    width: 110px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 15%
      right: 80%
      width: 140px
    
    &-2
      top: 70%
      right: 65%
      width: 140px
    
    &-3
      top: 20%
      right: 3%
      width: 140px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  
@media (min-width: 426px)
  .banner-principal .tarjeta
   
@media (min-width: 769px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden
    
.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

  .banner-principal .tarjeta
  background-position: left 50% !important 

.titulo-principal.color-acento-contenido
  color: $color-sistema-texto !important

.titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__titulo__icono i
  color: $color-primario

.boton *, .boton--sm *
  color: $white
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover *
  color: $white
.barra-avance__boton--regresar span
  color: $white !important

figcaption
  font-weight: normal

.banner-interno__titulo h2
  color: $color-sistema-texto !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto

// --- .cita-decorada ---

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/sintesis/img_3.png')
